html {
  --primary-color: #a80000;
  --secondary-color: #750707;
  --primary-font: 'SFProRegular';
}

.error-message-generic p {
  color: var(--primary-color) !important;
  word-break: break-word;
  white-space: break-spaces;
}

.break-word {
  word-break: break-word;
}

.no-border {
  border: none !important;
}

.max-width-100 {
  max-width: 100% !important;
}

.no-data {
  color: var(--red-color);
  text-transform: uppercase;
  margin-bottom: 50px;
}

.no-data-button {
  padding: 15px 25px;
  background: var(--red-color);
  color: white !important;
  border-radius: 5px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  border-bottom: 1px solid;
}